<h1>Weather</h1>

<mat-card>
  <section class="buttonmeteo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6FjVSihwBphfOuju5eKg3GBRwEoBZ2oJKdO-IA8w5tQ&s" height="40vh" alt="">
    <section class="myComponent">
      <span>
        <p>Street: </p> {{ meteo.street }}
      </span>

      <span>
        <p>City: </p>{{ meteo.city }}
      </span>
      <span>
        <p>Zipcode: </p>{{ meteo.zip }}
      </span>
      <span>
        <p>Temperature:</p>{{ meteo.temperature }}
      </span>
    </section>


    <button mat-raised-button color="accent" (click)="openNewAdress()" class="d-flex align-items-center">Change City</button>
  </section>
</mat-card>
