/* body{
  height: 100vh;
}

mat-sidenav-container{
  height: 90vh;
} */


mat-toolbar{
  background: cornflowerblue;

}
.menu-button {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.menu-button mat-icon{

  margin-right: 8px;
}

mat-toolbar {
  background: rgb(232, 240, 255);
  color: white;
  width: 100%;
}

mat-sidenav {
  /* margin: 16px; */
  width: 350px;
  border-right: none;
  background: darkblue;
  color: white;
  /* border-radius: 10px; */
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.menu-button mat-icon{

  margin-right: 8px;
}


img{
  border-radius: 50%;
  height: 80px;
}

.name{
  margin: 0;
  margin-top: 8px;
  font-weight:500px;
  font-size: 20px;
}

.designation{
  margin-top: 2px;
  font-size: 0.5rem;
  color: lightgray;
}

mat-divider{
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}


.sidenav-right{
  width: 200px;
  background: rgb(184, 208, 254);

}
