<cdk-accordion-item class="top-list">


  <div class="col-md-12" *ngIf="userProfile">
    <img [src]="userProfile.avatar" alt="">
    <span class=" flex-direction-column">{{ userProfile.username }}</span>
    <span>{{ userProfile.firstName }}</span> <br>
    <span class=" flex-direction-column">{{ userProfile.email }}</span>
  </div>
  <div class="d-flex search-bar">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Search for a user ..." type="text" [formControl]="searchBar">

    </mat-form-field>
    <mat-icon class="mat-18" color="primary" selected>search</mat-icon>


  </div>

  <mat-slide-toggle [(ngModel)]="showMyFriends">See friends !</mat-slide-toggle>
  <!-- (click)="onChangeState($event)" -->
  <p>{{profileEnfant | json}}</p>
</cdk-accordion-item>

<section class="col-md-12">
  <cdk-accordion class="example-accordion user-list">
    <div *ngIf="!showMyFriends">
      <cdk-accordion-item *ngFor="let user of dataList" color="primary" #accordionItem="cdkAccordionItem"
        class="example-accordion-item" role="button" tabindex="0">


        <span class="content" matBadgePosition="before" matBadgeColor="primary"
          [matBadge]="user.online ? '&#8288;' : ''" matBadgeSize="small">
          <img matListAvatar [src]="user.avatar" alt="..."></span>
        <span> {{user.lastName}} </span>
        <span class="demo-2">{{user.firstName}} </span>


        <mat-icon class="mat-18" (click)="addFriends(user)" class="justify-content-end">person_add</mat-icon>
        <mat-icon class="mat-18" (click)="onOpenModal(user)">chat</mat-icon>
        <span [matBadge]="user.nbMsg" matBadgeColor="primary" matBadgeSize="medium"></span>

      </cdk-accordion-item>
    </div>
  </cdk-accordion>

</section>

<section class="col-md-12">
  <cdk-accordion class="example-accordion user-list">
    <div *ngIf="showMyFriends">
      <cdk-accordion-item *ngFor="let user of newFriend" color="primary" #accordionItem="cdkAccordionItem"
        class="example-accordion-item" role="button" tabindex="0">


        <span class="content" matBadgePosition="before" matBadgeColor="primary"
          [matBadge]="user.online ? '&#8288;' : ''" matBadgeSize="small">
          <img matListAvatar [src]="user.avatar" alt="..."></span>
        <span> {{user.lastName}} </span>
        <span class="demo-2">{{user.firstName}} </span>


        <mat-icon class="mat-18" (click)="addFriends(user)" class="justify-content-end">person_add</mat-icon>
        <mat-icon class="mat-18" (click)="onOpenModal(user)">chat</mat-icon>
        <span [matBadge]="user.nbMsg" matBadgeColor="primary" matBadgeSize="medium" matBadgePosition="before"></span>

      </cdk-accordion-item>
    </div>
  </cdk-accordion>

</section>
